test.py
test2.py
test3.py
config.json
wx.png
wxautox_activate.py
/.gitignore
CLAUDE.md

.claude/
.venv
venv/
venv2/
UI_default/
UI2/
UI3/
build/
dist/
__pycache__/
.pycache_verify/
/releases/
/config/
logs/
wxauto_logs/
panel_logs/
memory/
backup/
wxautox文件下载/
old_wxbot_config/
docs/admin
tests/

*.zip
*.whl
*.exe
*.spec
*.ui
*.log
*.png

/.idea/
